@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

button, a{
    cursor: pointer;
}
a, li{
    text-decoration: none;
    list-style: none;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A2A33;
        .wrapper{
            width: 460px;
            .controls{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .img-container{
                    height: max-content;
                }
                .turn-container{
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    width: 140px;
                    height: 52px;
                    background-color: #1F3641;
                    box-shadow: inset 0px -4px 0px #10212A;
                    border-radius: 10px;
                    span{
                        font-weight: 700;
                        font-size: 16px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: #A8BFC9;
                    }
                }
                .reset{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 52px;
                    height: 52px;
                    background-color: #A8BFC9;
                    box-shadow: inset 0px -4px 0px #6B8997;
                    border-radius: 10px;
                }
            }
            .grid{
                .row{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 15px;
                    .block{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 140px;
                        height: 140px;
                        background-color: #1F3641;
                        box-shadow: inset 0px -8px 0px #10212A;
                        border-radius: 15px;
                    }
                }
            }
            .scores{
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: 15px;
                .score{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 140px;
                    height: 72px;
                    border-radius: 15px;
                    color: #1A2A33;
                    &:nth-of-type(1) {
                        background-color: #31C3BD;
                    }
                    &:nth-of-type(2) {
                        background-color: #A8BFC9;
                    }
                    &:nth-of-type(3) {
                        background-color: #F2B137;
                    }
                    p:nth-of-type(1){
                        font-weight: 500;
                        font-size: 14px;
                    }
                    p:nth-of-type(2){
                        font-weight: 700;
                        font-size: 24px;
                    }
                }
            }
        }
        .tie-modal{
            position: fixed;
            display: none;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: #0d1519ad;
            .message{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 266px;
                background-color: #1F3641;
                .container{
                    p{
                        font-weight: 700;
                        font-size: 40px;
                        letter-spacing: 2.5px;
                        text-transform: uppercase;
                        color: #A8BFC9;
                        padding-bottom: 30px;
                    }
                    .container-btn{
                        display: flex;
                        justify-content: space-around;
                        .quit{
                            width: 76px;
                            height: 52px;
                            background-color: #A8BFC9;
                            box-shadow: inset 0px -4px 0px #6B8997;
                            border-radius: 10px;
                            font-weight: 700;
                            font-size: 16px;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            color: #1A2A33;
                        }
                        .next-round{
                            width: 146px;
                            height: 52px;
                            background-color: #F2B137;
                            box-shadow: inset 0px -4px 0px #CC8B13;
                            border-radius: 10px;
                            font-weight: 700;
                            font-size: 16px;
                            text-align: center;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            color: #1A2A33;
                        }
                    }
                }
             }
        }
        .won-modal{
            display: none;
            align-items: center;
            justify-content: center;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: #0d1519ad;
            .message{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 266px;
                background-color: #1F3641;
                .container{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .winner-name{
                        font-weight: 700;
                        font-size: 16px;
                        text-align: center;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: #A8BFC9;
                    }
                    .winner{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 20px 0;
                        p{
                            font-weight: 700;
                            font-size: 40px;
                            line-height: 50px;
                            letter-spacing: 2.5px;
                            text-transform: uppercase;
                            &.x{
                                color: #31C3BD;
                            }
                            &.o{ 
                                color: #F2B137;
                            }
                        }
                    }
                    .container-btn{
                        display: flex;
                        justify-content: space-around;
                        width: 60%;
                        .quit{
                            width: 76px;
                            height: 52px;
                            background-color: #A8BFC9;
                            box-shadow: inset 0px -4px 0px #6B8997;
                            border-radius: 10px;
                            font-weight: 700;
                            font-size: 16px;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            color: #1A2A33;
                        }
                        .next-round{
                            width: 146px;
                            height: 52px;
                            background-color: #F2B137;
                            box-shadow: inset 0px -4px 0px #CC8B13;
                            border-radius: 10px;
                            font-weight: 700;
                            font-size: 16px;
                            text-align: center;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            color: #1A2A33;
                        }
                    }
                }
            }
        }
}